
.backG{
    background-color:#FEE715FF  ;
}

.btn-col{
    background-color:  #FF69B4;
    color:#101820FF ;
}

.btn-col:hover{
    background-color: #00FFFF;
    color: black;
    font-size: 23px;

}
.clr{
    color: #FEE715FF ;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
    background-color: #E2D1F9;
}
.backG{
background-color:  #101820FF;
}
.heading{
  color: #FEE715FF ;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
    background-color:  #101820FF ;
}

.flex-item{
    background: #FEE715FF ;
    border: 1pt solid #101820FF;
    width: 10px;
    transition: 0.1s all ease;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
